@use "sass:unify";

// Variables

$red: #f03d30;
$red_two: #f0003c;
$blue: #2196f3;
$blue_two: dodgerblue;
$green: #68bd33;
$green_two: mediumseagreen;
$yellow: #ffee00;
$yellow_two: #ff8000;
$white: #f5f5f5;
$light: #cccccc;
$black: #222222;
$grey: #777777;
$purple: #b71cff;
$purple_two: rebeccapurple;
$box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
$box-shadow_two: -2px -2px 6px rgba(255, 255, 255, 0.01), 2px 2px 6px rgba(0, 0, 0, 0.8);
$fontWeigths: (
    thinnest: 100,
    thinner: 200,
    thin: 300,
    regular: 400,
    normal: 500,
    medium: 600,
    bold: 700,
    bolder: 800,
    boldest: 900
);

// Mixins

@mixin fullScreen ($zIndex) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: $zIndex;
}

@mixin flex ($justify: center, $align: center, $flex: flex, $direction: column, $wrap: nowrap) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin backgroundImage ($url: "https://cdn.jsdelivr.net/gh/AssassinAguilar/FileHosting/Lyrically/Wallpaper.jpg", $size: cover, $position: center, $gradient: "") {
    background-image: #{$gradient} url($url);
    background-attachment: fixed;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin unify-parent ($child) {
    @at-root #{selector.unify(&, $child)} {
        @content;
    }
}

@mixin google-font ($family, $fontName, $fontAccent, $element...) {
    @import url("https://fonts.googleapis.com/css?family=#{$family}&display=swap");
    #{$element}
    {
        font-family: "#{$fontName}", #{$fontAccent};
    }
}

@mixin resp ($respVal, $respMax_Min: max, $respH_W: width) {
    @media (#{$respMax_Min}-#{$respH_W}: $respVal) {
        @content;
    }
}

// Functions

@function weight ($wName) {
    @return map-get($fontWeigths, $wName);
}

@function setColor ($color) {
    @if lightness($color) > 70% {
        @return $black;
    } @else {
        @return $white;
    }
}

// Resets

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: none;
    color: $white;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
    &::-webkit-scrollbar
    {
        height: 5px;
        width: 5px;
        background-color: transparent;
        &-thumb
        {
            height: 20vh;
            width: 20vw;
            border-radius: 50px;
            background-color: $blue;
            &:hover
            {
                background-color: $red;
            }
        }
    }
}
